[Unit]
Description=HomePi Music Scheduler
After=network.target sound.target bluetooth.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/homepi
Environment="DISPLAY=:0"
Environment="SDL_AUDIODRIVER=pulseaudio"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/homepi/venv/bin/python /home/pi/homepi/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

